@media (max-width: 600px) {

    main .icones {
        display: none;
    }

    nav {
        background: transparent;
        backdrop-filter: unset;
        box-shadow: none;
    }

    nav .menu .elemento {
        display: block;
    }

    nav .mobile {
        display: block;
        z-index: 10000;
        background: none;
        border: none;
        padding: 5%;
    }

    nav .mobile i {
        font-size: 30px;
        cursor: pointer
    }

    nav .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        background-color: rgb(114, 148, 233);
        height: 0px;
        z-index: 999;
        transition: .3s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active .menu {
        height: 100vh;
        visibility: visible;
    }

    .menu li {
        padding: 4%;
        border-bottom: rgba(30, 68, 163, 0.5);
    }

    body{
        overflow-x: hidden;
    }

}

@media screen and (min-width: 857px) and (max-width: 1069px) {

    .projetos .mais-projetos .perfil-gh .nome {
        font-size: 20px;
        font-weight: 600;
        color: #CDCDCD;
    }

    .projetos .mais-projetos .perfil-gh .user {
        font-size: 13px;
        font-weight: 400;
        color: #5A5A5A;
    }

    
    .redes .links div img{
        width: 40%;
        padding: 5%;
    }
    
    .redes .links div .nome{
        font-size: 18px;
        font-weight: 600;
        color: #CDCDCD;
    }
    
    .redes .links div .explore{
        font-size:20px;
        font-weight: 600;
        margin: 20px ;
        padding: 4px 28px;
        border-radius: 8px;
        border-style: none;
    }

}

@media(max-width: 1000px) {
    .academicos .acad .proj iframe {
        width: 280px;
        height: 157px;
    }
}

@media screen and (min-width: 700px) and (max-width: 856px) {

    .projetos .mais-projetos .perfil-gh .nome {
        font-size: 15px;
        font-weight: 600;
        color: #CDCDCD;
    }

    .projetos .mais-projetos .perfil-gh .user {
        font-size: 10px;
        font-weight: 400;
        color: #5A5A5A;
    }

    
    .redes .links div img{
        width: 40%;
        padding: 5%;
    }
    
    .redes .links div .nome{
        font-size: 16px;
        font-weight: 600;
        color: #CDCDCD;
    }
    
    .redes .links div .explore{
        font-size:20px;
        font-weight: 600;
        margin: 20px ;
        padding: 4px 15px;
        border-radius: 8px;
        border-style: none;
    }

}

@media(max-width: 699px) {

    .projetos .mais-projetos .perfil-gh .nome {
        font-size: 15px;
        font-weight: 600;
        color: #CDCDCD;
    }

    .projetos .mais-projetos .perfil-gh .user {
        font-size: 10px;
        font-weight: 400;
        color: #5A5A5A;
    }

    
    .redes .links div img{
        width: 40%;
        padding: 5%;
    }
    
    .redes .links div .nome{
        font-size: 15px;
        font-weight: 600;
        color: #CDCDCD;
    }
    
    .redes .links div .explore{
        font-size:20px;
        font-weight: 600;
        margin: 20px ;
        padding: 4px 10px;
        border-radius: 8px;
        border-style: none;
    }

}

@media (max-width: 680px){
    .jornada .linha-do-tempo, .jornada .descricao{
        display: block;
    }

    .jornada .linha-do-tempo:before{
        visibility: hidden;
    }

    .ano2020, .ano2021, .ano2022, .ano2023{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .linha-do-tempo .descricao{
        max-width: 70%;
    }

    .ano2021 .ano, .ano2023 .ano, .ano2022 .ano, .ano2020 .ano{
        margin: 0
    }
}

@media (max-width: 600px){
    .projetos .exib2, .projetos .exib1{
        flex-direction:column-reverse;
       
    }

    .projetos .exibicao .descricao-projetos{
        width: 60%;
        padding-bottom: 5%;
    }

    .projetos .exibicao .img{
        max-width:60%;
    }

    .projetos .mais-projetos .perfil-gh .nome {
        font-size: 8px;
        font-weight: 600;
        color: #CDCDCD;
    }

    .projetos .mais-projetos .perfil-gh .user {
        font-size: 10px;
        font-weight: 400;
        color: #5A5A5A;    
    }

    .projetos .mais-projetos .perfil-gh .explore{
        background-color: #3F3E4F;
        font-size:20px;
        font-weight: 600;
        margin: 20px ;
        padding: 5px 20px;
        color:#CDCDCD;
        border-radius: 8px;
        border-style: none;
        transition: .5s ease;
        cursor: pointer;
    }

    .projetos .mais-projetos .perfil-gh {
        padding: 2%;

    }

    .redes .links div{
        width:30%;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 10%;
        margin: 5% 6%;
        flex-wrap: wrap;
    }
    
    .redes .links div img{
        width: 40%;
        padding: 5%;
    }
    
    .redes .links div .nome{
        font-size: 15px;
        font-weight: 600;
        color: #CDCDCD;
    }
    
    .redes .links div .explore{
        font-size:20px;
        font-weight: 600;
        margin: 20px ;
        padding: 10px 15px;
        border-radius: 8px;
        border-style: none;
    }

    .redes .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width: 460px){
    .linha-do-tempo .descricao{
        max-width: 85%;
    }
    
    .projetos .mais-projetos .perfil-gh {
        width: 50%  
    }
    
    .projetos .mais-projetos .perfil-gh .nome {
        font-size: 18px;
        font-weight: 600;
        color: #CDCDCD;
    }

    .projetos .mais-projetos .perfil-gh .user {
        font-size: 13px;
        font-weight: 400;
        color: #5A5A5A;    
    }

    .projetos .mais-projetos .perfil-gh .explore{
        background-color: #3F3E4F;
        font-size:20px;
        font-weight: 600;
        margin: 20px ;
        padding: 10px 25px;
        color:#CDCDCD;
        border-radius: 8px;
        border-style: none;
        transition: .5s ease;
        cursor: pointer;
    }

    .academicos .acad .proj iframe {
        width: 279px;
        height: 156px;
        padding-bottom: 10%;
    }

    .academicos .acad .proj {
        width: 90%;
    }

    .academicos .acad .proj .logoEcollus{
        width: 50%;
        padding: 5%;
    }
    
    .academicos .acad .proj .desc{
        font-size: 20px;
        font-weight: 400;
        max-width: 90%;
        color:  #e4e4e4;
        padding-bottom: 10%;
        text-align: justify;
    }

    .academicos .acad .proj .onde-ver{
        display: flex;
        width: 100%;
        padding: 4%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .academicos .acad .proj .onde-ver .gitEcollus, .academicos .acad .proj .onde-ver .hospedagem{
        padding: 12% 20%;
        
    }

    .academicos .acad .proj2 {
        width: 90%
    }

    .academicos .acad .proj2 img{
        width: 55%;
        padding: 5%;
    }

    .academicos .acad .proj2 .desc{
        font-size: 20px;
        font-weight: 400;
        max-width: 90%;
        color:  #e4e4e4;
        padding-bottom: 10%;
        text-align: justify;
    }

    .academicos .acad .proj2 .documentacao{
        padding: 12% 20%;
        
    }

    .academicos h2{
        font-size: 48px;
    }

    .projetos .mais-projetos .gh{
        width: 20%
    }

    .causas .sangue .texto{
        color: #e4e4e4;
        padding: 2% 0;
        width: 80%;
    }
    
    .causas .sangue .texto p{
        font-size: 20px;
        font-weight: 500;
        padding: 5% 0;
        text-align: justify;
    }

    .redes .links div{
        width:70%;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 0;
        margin: 5% 6%;
        flex-wrap: wrap;
    }
    
    .redes .links div img{
        width: 40%;
        padding: 5%;
    }
    
    .redes .links div .nome{
        font-size: 25px;
        font-weight: 600;
        color: #CDCDCD;
    }
    
    .redes .links div .explore{
        font-size:20px;
        font-weight: 600;
        margin: 20px ;
        padding: 10px 30px;
        border-radius: 8px;
        border-style: none;
    }
    


}