@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Inter;
}

nav{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(20px);
    box-shadow: 0 .5px 15px -5px rgba(0,0,0,0.3);
   
    width: 100%;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
}

nav ul{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

nav ul a{
    color: #2b3141;
}

nav ul a:hover{
    color: #5b6992;
}


/* SEÇÃO "JORNADA */

.jornada{
    background: linear-gradient(to bottom, rgba(87, 130, 242, 0.9), rgba(78, 113, 204, 0.8), rgba(49, 90, 197, 0.7), rgba(38, 68, 147, 0.7));
}

.jornada h3{
    padding-top: 8%;
    text-align: center ;
    font-size: 50px;
    color: rgb(204, 215, 255);
}

.jornada h2{
    font-size: 55px;
    width: 20%; 
    font-weight: 900;
    padding: 2rem;
}

.jornada .titulo{
    text-align: center;
    color: #001F5A;
}

.jornada .descricao{
    display: flex;
    flex-direction: column;
}

.jornada .descricao ul li{
    padding: 10px;
    list-style:outside;
}

.linha-do-tempo{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 5%;
}

.linha-do-tempo:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #001F5A;
    left: 50%
}

.linha-do-tempo .ano{
    font-size: 50px;
    font-weight: 800;
    color: #001F5A;
}

.linha-do-tempo .titulo{
    font-size: 25px;
    font-weight: 700;
}


.linha-do-tempo .parag-jornada{
    font-size: 20px;
    font-weight: 400;
}

.ano2020, .ano2021, .ano2022, .ano2023{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ano2021 , .ano2023 {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px 0;
}

.ano2021 .descricao, .ano2023 .descricao {
   max-width: 40%;
   text-align: justify;
   margin-left: 5%;
}

.ano2021 .ano, .ano2023 .ano{
    margin-right: 30%;
}

.ano2020 , .ano2022 {
    justify-content: space-between;
    padding: 15px 0;
}

.ano2020 .descricao, .ano2022 .descricao {
    max-width: 40%;
    text-align: justify;
    margin-right: 5%;
 }

 .ano2020 .ano, .ano2022 .ano{
    margin-left: 30%;
}


/* SEÇÃO "PROJETOS" */


.ondas1{
    fill: #6B94D3;
    margin-bottom: -6px;
}

.projetos{
    background: linear-gradient(to bottom, #6B94D3, rgb(55, 83, 154));
}

.projetos h2{
    font-size: 55px;
    width: 20%; 
    font-weight: 900;
    padding: 2rem;
    color: #001F5A;
}

.projetos .exibicao{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 5% 0;
}

.projetos .exib1, .projetos .exib2{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.projetos .exib2{
    flex-direction:row-reverse ;
}

.projetos .exibicao img{
    width:100%;
    border-radius: 3%;    
}

.projetos .exibicao .img{
    max-width:40%;
}

.projetos .exibicao .descricao-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 35%;
    flex-wrap: wrap-reverse;
}

.projetos .exibicao .descricao-projetos .titulo-projetos{
    font-size: 30px;
    font-weight: 700;
    color: #001F5A;
}

.projetos .exibicao .descricao-projetos .parag-projetos{
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
}

.projetos .mais-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.projetos .mais-projetos .ver-mais{
    font-size: 25px;
    font-weight: 700 ;
}

.projetos .mais-projetos .gh{
    width: 5%;
}

.projetos .mais-projetos .perfil-gh{
    background-color: #24242F;
    width:20%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos .mais-projetos .perfil-gh img{
    width: 40%;
    padding: 10%;
}

.projetos .mais-projetos .perfil-gh .nome{
    font-size: 25px;
    font-weight: 600;
    color: #CDCDCD;
}

.projetos .mais-projetos .perfil-gh .user{
    font-size: 18px;
    font-weight: 400;
    color: #5A5A5A;
}

.projetos .mais-projetos .perfil-gh .explore{
    background-color: #3F3E4F;
    font-size:20px;
    font-weight: 600;
    margin: 20px ;
    padding: 10px 30px;
    color:#CDCDCD;
    border-radius: 8px;
    border-style: none;
}

.ondas2{
    fill: rgb(55, 83, 154);
}

/* SEÇÃO "PROJETOS ACADÊMICOS" */


.academicos{
    background: linear-gradient(to bottom, #5174CA, #517EF4); 
}

.academicos h2{
    font-size: 55px;
    width: 20%; 
    font-weight: 900;
    padding: 2rem;
    color: #001F5A;
}

.academicos .acad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    
}

.academicos .acad .proj{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0px rgba(0,0,0,0.3);
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.academicos .acad .proj .desc{
    font-size: 20px;
    font-weight: 400;
    max-width: 70%;
    color:  #e4e4e4;
    padding-bottom: 5%;
}

.academicos .acad .proj .logoEcollus{
    width: 30%;
    padding: 5%;
}

.academicos .acad .proj .onde-ver{
    display: flex;
    width: 100%;
    padding: 4%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.academicos .acad .proj .onde-ver .gitEcollus{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4B5B88;
    max-width: 40%;
    border-radius: 30px;
    padding: 2% 4%;
}

.academicos .acad .proj .onde-ver .gitEcollus .title{
    font-size: 30px;
    font-weight: 500;
    color: #e4e4e4;
    padding: 8%;
}

.academicos .acad .proj .onde-ver .gitEcollus img{
    width: 50%;
    padding: 8%;
}

.academicos .acad .proj .onde-ver .gitEcollus span{
    font-size: 20px;
    font-weight: 500;
    color: #e4e4e4;
    padding-bottom: 5%;
}

.academicos .acad .proj .onde-ver .gitEcollus button{
    background-color: #3F3E4F;
    border-style: none;
    color: #e4e4e4;
    padding: 5% 8%;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    margin: 10%;
}


.academicos .acad .proj .onde-ver .hospedagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4B5B88;
    max-width: 40%;
    border-radius: 30px;
    padding: 2% 4%;
}

.academicos .acad .proj .onde-ver .hospedagem span{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #e4e4e4;
    padding: 8%;
}

.academicos .acad .proj .onde-ver .hospedagem .ver{
    background-color: #3F3E4F;
    border-style: none;
    color: #e4e4e4;
    padding: 5% 8%;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    margin: 10%;
}

.academicos .acad .proj .contrib{
    align-self:start;
    font-size: 30px;
    font-weight: 500;
    color: #e4e4e4;
    padding: 1% 4%;
}

.academicos .acad .proj .pessoas{
    font-size: 20px;
    font-weight: 400;
    color: #e4e4e4;
    width: 80%;
    padding: 3% 4%;
}

.academicos .acad .proj2 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0px rgba(0,0,0,0.3);
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.academicos .acad .proj2 img{
    width: 35%;
    padding: 5%;
}

.academicos .acad .proj2 .desc{
    font-size: 20px;
    font-weight: 400;
    max-width: 70%;
    color:  #e4e4e4;
    padding-bottom: 2%;
    text-align: justify;
}

.academicos .acad .proj2 .documentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4B5B88;
    max-width: 40%;
    border-radius: 30px;
    padding: 4% 1%;
    margin: 8%;
}


.academicos .acad .proj2 .documentacao span{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #e4e4e4;
    padding: 8%;
}

.academicos .acad .proj2 .documentacao .ver{
    background-color: #3F3E4F;
    border-style: none;
    color: #e4e4e4;
    padding: 4% 8%;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    margin: 10%;
}

.academicos .acad .proj2 .contrib{
    align-self:start;
    font-size: 30px;
    font-weight: 500;
    color: #e4e4e4;
    padding: 1% 4%;
}

.academicos .acad .proj2 .pessoas{
    font-size: 20px;
    font-weight: 400;
    color: #e4e4e4;
    width: 80%;
    padding: 3% 4%;
}

.academicos .ondas3{
    fill: #3C6DDF;
    margin-bottom: -6px;
}

/* SEÇÃO "CAUSAS" */

.causas{
    background: linear-gradient(to bottom, #3C6DDF, #618CED);
}

.causas h2{
    font-size: 55px;
    width: 20%; 
    font-weight: 900;
    padding: 2rem;
    color: #001F5A;
}

.causas .sangue{
    display: flex;
    
    align-items: center;
    flex-direction: column;
}

.causas .sangue .titulo{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #e4e4e4;
}

.causas .sangue .texto{
    
    color: #e4e4e4;
    padding: 1% 0;
    width: 50%;
}

.causas .sangue .texto p{
    font-size: 20px;
    font-weight: 500;
    padding: 1% 0;
    text-align: justify;
}

.causas .sangue .texto p span{
    font-size: 21px;
    color:rgb(182, 43, 43);
    font-weight: 600;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding: .2% .4%;
    cursor: pointer;
}

.causas .sangue .chamada{
    display: flex;
    justify-content: space-evenly;
    padding: 2% 8%;
    color: #e4e4e4;

}

.causas .sangue .chamada .chamada1{
    font-size: 22px;
    font-weight: 500;
    width: 20%;
    text-align: justify;
}

.causas .sangue .chamada .chamada2{
    font-size: 20px;
    font-weight: 500;
    width: 20%;
    text-align: justify;
}




/* SEÇÃO "REDES" */

.ondas4{
    fill: #618CED;
    margin-top: -1px;
}

.redes{
    background: linear-gradient(to bottom, #597FD4, #517EF4); 

}

.redes h2{
    font-size: 55px;
    width: 20%; 
    font-weight: 900;
    padding: 2rem;
    color: #001F5A;
}

.redes .links{
    display: flex;
    flex-wrap: wrap;
}

.redes .links div{
    width:20%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    margin: 5% 6%;
    flex-wrap: wrap;
}

.redes .links div img{
    width: 40%;
    padding: 5%;
}

.redes .links div .nome{
    font-size: 25px;
    font-weight: 600;
    color: #CDCDCD;
}

.redes .links div .explore{
    font-size:20px;
    font-weight: 600;
    margin: 20px ;
    padding: 10px 30px;
    border-radius: 8px;
    border-style: none;
}

.redes .links .github{
    background-color: #24242F;
}

.redes .links .github .explore {
    background-color: #3F3E4F;
    color: #CDCDCD; 
}

.redes .links .linkedin{
    background-color: #007AB9;
}

.redes .links .linkedin .nome{
    color: #fff
}

.redes .links .linkedin .explore{
    background-color: #fff;
    color: #007AB9;
}

.redes .links .gmail{
    background-color: #4571E1;
}

.redes .links .g mail .nome{
    color: #fff
}

.redes .links .gmail .explore{
    background-color: #fff;
    color: #4571E1;
}











